<nav>
      <ul>
         <li> <a href="/users">Users</a> </li>
         <li> <a href="/photos">Photos</a> </li>
      </ul>
</nav>

<h1>Photo Details</h1>


<dl>
  <dt>Image</dt>
  <dd>
    <img src="<%= @the_photo.image %>">
  </dd>

  <dt>Caption</dt>
  <dd>
    <p><%= @the_photo.caption %></p>
  </dd>

  <dt>Owner</dt>
  <dd>
    <%= @the_photo.poster.username %>
  </dd>

  <dt>Posted</dt>
  <dd>
    <%= @the_photo.created_at %>
  </dd>

  <dt>Edit photo</dt>
  <dd>
    <form action="/update_photo/<%= @the_photo.id %>">
      <label for="browser_image">Image</label>
      <input id="browser_image" type="text" name="q_image" placeholder="Enter a URL for the image..." value="<%= @the_photo.image %>">

      <label for="browser_caption">Caption</label>
      <textarea id="browser_caption" name="q_caption" placeholder="Enter a caption for the photo..."><%= @the_photo.caption%></textarea>

      <button>Update photo</button>
    </form>
  </dd>

  <dt>Delete photo</dt>
  <dd>
    <a href="/delete_photo/<%= @the_photo.id %>;">
      Delete this photo
    </a>
  </dd>
</dl>

<h2>Comments</h2>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>
  <% @the_photo.comments.each do |comm| %>
  <tr>
    <td>
      <%= comm.commenter.username %>
    </td>

    <td>
      <%= comm.body %>
    </td>

    <td>
     <%= comm.created_at %>
    </td>
  </tr>
  <% end %>
</table>

<h1>Add a new comment</h1>


  <dd>
    <form action="/add_comment/<%= @newcomm.photo_id %>">
      <label for="image">Photo ID</label>
      <input id="image" type="text" name="q_phoid" value="<%= @the_photo.id %>">

      <label for="browser">Author ID</label>
      <input id="browser" name="q_authid">

      <label for="browser_comment">Comment</label>
      <textarea id="browser_comment" type="text" name="q_newcomm" placeholder="Enter a comment..."></textarea>

      <button>Add comment</button>
    </form>
